
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3> mvc kamp tablo</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>ad</td>
        <td>açıklama</td>
        <td>true</td>
    </tr>
    <tr>
        <td>2</td>
        <td>ad</td>
        <td>açıklama</td>
        <td>true</td>
    </tr>
</table>
<button class="btn btn-dark">mrba</button>